# Gitignore File

# R and RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.RDataTmp

# renv internal library
renv/
renv/library/

# Outputs and figures
output/
figures/

# Raw data
data/

# Writing files
writing/

# Presentation (powerpoint) files
presentations/