# Gitignore File

# R and RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.RDataTmp
.cache/
_output/
_publish/

# Quarto/knitr output directories
*_files/
*.html
*.knit.md
*.utf8.md

# renv internal library
renv/
renv/library/

# Outputs and figures
output/
figures/

# Raw data
data/

# Writing files
writing/

# Presentation (powerpoint) files
presentations/